body {
    margin: 0;
    padding: 0;
}

svg {
    display: block;
    margin: auto;
}

#field {
    border: 2px solid #000;
}

#player1, #player2 {
    cursor: pointer;
}

#ball {
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}
